
/***************tags************/

h1{
    color: #B91646;
    text-align: center;
}

h2,h3{
    color: #105652;
}

h5{
    font-size: 1rem;
}



/****************classes*************/
.andreHead{
    width: 15%;
}

.break{
    margin: 25px 0;
    opacity: 0;
}


.cv{
    font-family:Georgia, serif;
    width: 50%;
}

.cv h1{
    color: black;
    text-align: left;
    font-size: 2rem;
}

.cv h3{
    color: black;
    text-align: left;
    font-size: 1.75rem;
    font-weight: lighter;
}



.container-fluid{
    background-color: #FBF3E4;
    padding: 50px 0;
    width: 100%;

}

.centered_btn{
    text-align: center;
    margin-bottom: 50px;
}

.container-top{
    width: 100%;
    padding: 0 50px;
    margin: 50px auto 50px;
}
.container-topcv{
    width: 100%;
    margin: 50px auto 25px;
}
.container-middle{
    width: 80%;
    margin: 0 auto 50px;
}

.cvKompHead{
    padding: 10px;
}

.download {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 10px;
    background-color: #B91646;
    -webkit-box-shadow: 1px 1px 10px 0 #000000;
    -moz-box-shadow: 1px 1px 10px 0 #000000;
    box-shadow: 1px 1px 10px 0 #0000003f;
    text-shadow: 1px 1px 10px #000000;
    border: solid #931338 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .download:hover {
    background: #871234;
    border: solid #871234 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }

 .main-container{
    margin: 50px 0;
    width: 100%;
    text-align: left;
}



.nkompetanse h2, p{
    margin: 10px;
}

.persinfotable th[scope="row"]{
    width: 25%;
    margin: 0;
}

.persinfotable{
    width: 100%;
}

.skjema{
    width: 50%;
}

.sideskrift{
    width: 10%;
}



/********ID****/

#curri{
    text-align: center;
}

#cv-form{
    margin-top: 100px;
}

#cvBox{
    border:1px solid;
    background-color: lightgrey;
    min-height: 30vh;
    margin: 100px auto;
    width: 95%;


}

#cvkompetanse{
    white-space: pre-wrap;
    padding: 10px;
}

#kompetanse{
    min-height: 30vh;
}








