
h2,h3{
    color: #105652;
}

h5{
    font-size: 1rem;
}

h1{
    color: #B91646;
    text-align: center;
}

.break{
    margin: 25px 0;
    opacity: 0;
}

.container-fluid{
    background-color: #FBF3E4;
    padding: 50px 0;

}


.centered_btn{
    text-align: center;
    margin-bottom: 50px;
}

.container-top{
    width: 80%;
    margin: 0 auto 50px;
}
.container-middle{
    width: 80%;
    margin: 0 auto 50px;
}

#kompetanse{
    min-height: 30vh;
}

#wrk_head, #ed_head, #kurs_head{
    text-align: center;
}

