<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/styles.css">
        <title>CV</title>
    </head>
    <body>
        <div class="main-container">
        
        <!-- Navn, adresse, etc-->    
            <table class="persinfotable">
                <caption><h1>Curriculum Vitae</h1></caption>
                
                <tr>
                    <th scope="row">Navn</th>
                    <td><span id="cvNavn"></span></td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td><span id="cvAdresse"></span></td>
                </tr>
                <tr>
                    <th scope="row">E-post</th>
                    <td><span id="cvEmail"></span></td>
                </tr>
                <tr>
                    <th scope="row">Mobil</th>
                    <td><span id="cvMobil"></span></td>
                </tr>
                <tr>
                    <th scope="row">Sivilstand</th>
                    <td><span id="cvSivilstand"></span></td>
                </tr>
                <tr>
                    <th scope="row">Fødselsdato</th>
                    <td><span id="cvFodt"></span></td>
                </tr>
                    
            </table>

        <!--Nøkkelkompetanse, utdannelse, etc -->

        <div class="nkompetanse">
            <h2>Nøkkelkompetanse: </h2>
            <pre><span id="cvKompetanse"></span></pre>
        </div>
        
            <table class="utdanningstabell">
                <caption>Utdanning</caption>
                <thead>
                </thead>
                <tbody>
                    <tr id="cvUtdanning_row">
                        <td scope="col"><span id="cvYearEd"></span></td>
                        <td><span id="cvUniversity"></span></td>
                        <td><span id="cvSpeciality"></span></td>
                    </tr>
                </tbody>
            </table>

            <table class="yrkestabell">
                <caption>Yrkeserfaring</caption>
                <tbody>
                    <tr>
                        <td scope="col">i</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <table class="kurstabell">
                <caption>Kurs</caption>
                <tbody>
                    <tr>
                        <td scope="col">i</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


            <table class="andreoppotabell">
                <caption>Andre opplysninger</caption>

                <tbody>
                    <tr>
                        <th scope="row" colspan="">Språk:</th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <button class="download"> Download PDF </button>
        </div>

        <script> 
            window.addEventListener('DOMContentLoaded', (event) => {
                window.setInterval(function() {
                    getText();
            }, 1);
                
            });        
    </script>
    <script src="static/main.js"></script>

    </body>

</html>