<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/ixstyles.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>
      <!----------------------------------FORM----------------------->
      <table class="table">
        <tr>
            <td class="skjema">

                <div class="container-fluid" >

                    <div class="container-top" id="personalia">
                        <form>
                            <!-- Navn, adresse, etc--> 
                            <div class="row mb-3">
                                <label for="navn" class="col-sm-2 col-form-label">Full name:</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="navn"></div>
                        
                            </div>
                            <div class="row mb-3">
                                <label for="adresse" class="col-sm-2 col-form-label">Adresse:</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="adresse"> </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="mail" class="col-sm-2 col-form-label">Mail:</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" id="email"></div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="mobil" class="col-sm-2 col-form-label">Mobil: </label>
                                <div class="col-sm-2"> 
                                    <select class="form-select" aria-label="country" id="country">
                                        <option seleceted value="Norway">🇳🇴</option>
                                        <option value="Sweden">🇸🇪</option>
                                        <option value="Russia">🇷🇺</option>
                                    </select>
                                </div>
                                <div class="col-sm-8"><input type="number" maxlength="8" class="form-control" aria-label="mobil" id="mobil"></div>    
                            </div>

                            <div class="row mb-3">
                                <label for="sivilstand" class="col-sm-2 col-form-label">Sivilstand:</label>
                                <div class="col-sm-10"> 
                                    <select class="form-select" aria-label="sivilstand" id="sivilstand">
                                        <option selected></option>
                                        <option value="Ugift">Ugift</option>
                                        <option value="Gift">Gift</option>
                                        <option value="Annet">Annet</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fodt" class="col-sm-2 col-form-label">Født:</label>
                                <div class="col-sm-10">
                                <input type="date" class="form-control" id="fodt"></div>
                            </div>

                            <div class="centered_btn">
                                    <button type="submit" class="btn btn-primary" onClick="reset()">Reset</button>
                            </div>

                            <h3>Nøkkelkompetanse:</h3>
                            <div class="row mb-3">
                                <div class="col-12"> 
                                    <textarea class="form-control" id="kompetanse"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>

                    <!--Nøkkelkompetanse, utdannelse, etc -->
                    <div class="container-middle" id="kompetanseRows">
                        <form>                            
                            <hr class="break"> 

                            <div class="row mb-1">
                                <h3> Utdannelse</h3>
                            </div>

                            <!-------Utdannelse--------------->
                            <div id="utdanning_row">
                                <div id="edYear_head"class="row mb-3">
                                    <label for="yearEd" class="col-md-6 col-form-label"><h5>Year start</h5></label>
                                    <label for="yearEdEnd" class="col-md-6 col-form-label"><h5>Year end</h5></label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearEd">
                                    </div>
                    
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearEdEnd">
                                    </div>
                                </div>
                                
                                <div id="ed_head" class="row mb-3">
                                    <label for="university" class="col-md-6 col-form-label"><h5>University</h5></label>
                                    <label for="speciality" class="col-md-6 col-form-label"><h5>Speciality</h5></label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="university">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="speciality">
                                    </div>
                                </div>
                            </div>

                            <div class="centered_btn">
                                <button type="button" class="btn btn-primary" id="addEd" onclick="addLine(document.getElementById('utdanning_row'),document.getElementById('cvUtdanning_row'), 0)">+</button>
                            </div>

                            <hr class="break"> 

                            <!-------Yrkeserfaring----------->
                            <div class="row mb-1">
                                <h3>Yrkeserfaring</h3>
                            </div>

                            <!----------------work-row-------------->
                            <div id="work_row">
                                <div id="workYear_head" class="row mb-3">
                                    <label for="yearWork" class="col-md-6 col-form-label"><h5>Year start</h5></label>
                                    <label for="yearWorkEnd" class="col-md-6 col-form-label"><h5>Year end</h5></label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearWork">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearWorkEnd">
                                    </div>
                                </div>

                                <div id="ed_head" class="row mb-3">
                                    <label for="company" class="col-md-6 col-form-label"><h5>Company</h5></label>
                                    <label for="title" class="col-md-6 col-form-label"><h5>Title</h5></label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="company">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="title">
                                    </div>
                                </div>                      
                            </div>
                            

                            <div class="centered_btn">
                                <button type="button" class="btn btn-primary" id="addWork" onclick="addLine(document.getElementById('work_row'),document.getElementById('cvWork_row'), 1)">+</button>
                            </div>
                            
                            <hr class="break">
                            
                            <!---------------Kurs----------------->

                            <div class="row mb-1">
                                <h3>Kurs</h3>
                            </div>
                            <!---------------Kurs-row------------>
                            <div id="kurs_row">
                            
                                <div id="kursYear_head" class="row mb-3">
                                    <label for="yearKurs" class="col-md-6 col-form-label"><h5>Year start</h5></label>
                                    <label for="yearKursEnd" class="col-md-6 col-form-label"><h5>Year end</h5></label>
                                </div>
                            <!---------------------Kurs year-------------->                  
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearKurs">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearKursEnd">
                                    </div>
                                </div>

                                <div id="kurs_head" class="row mb-3">
                                    <label for="place" class="col-md-6 col-form-label"><h5>Place</h5></label>
                                    <label for="course" class="col-md-6 col-form-label"><h5>Course</h5></label>
                                </div>
                            <!-------------------Kurs tekst------------------->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="place">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="course">
                                    </div>
                                </div>

                            </div>

                            <div class="centered_btn">
                                <button type="button" class="btn btn-primary" id="addKurs" onclick="addLine(document.getElementById('kurs_row'),document.getElementById('cvKurs_row'), 2)">+</button>
                            </div>
                        </form>
                    </div>    
                    

                </div>
            </td>

            <!----------------------------------------CV-------------------->

            <td class="cv">
                    <form id="cv-form">
                        <!-- Navn, adresse, etc--> 
                        <div class="row mb-3">
                            <label for="cvNavn" class="col-sm-2 col-form-label">Full name:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvNavn"></div>
                    
                        </div>
                        <div class="row mb-3">
                            <label for="cvAdresse" class="col-sm-2 col-form-label">Adresse:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvAdresse"> </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="cvEmail" class="col-sm-2 col-form-label">Mail:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvEmail"></div>
                        </div>

                        <div class="row mb-3">
                            <label for="cvMobil" class="col-sm-2 col-form-label">Mobil:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvMobil"></div>
                        </div>

                        <div class="row mb-3">
                            <label for="cvSivilstand" class="col-sm-2 col-form-label">Sivilstand</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvSivilstand"> </div>
                        </div>

                        <div class="row mb-3">
                            <label for="cvFodt" class="col-sm-2 col-form-label">Født:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvFodt"></div>
                        </div>

                        <hr class="break-cv">
                </div>

                    <h3>Nøkkelkompetanse:</h3>
                            <div class="row mb-3">
                                <div class="col-12"> 
                                    <textarea class="form-control" id="cvKompetanse"></textarea>
                                </div>
                            </div>

                            <hr class="break"> 

                            <!--------------CV-Utdannelse---------->

                            <div class="row mb-1"><h3> Utdannelse</h3></div>

                            <div id="ed_head"class="row mb-3">
                                <label for="cvYearEd" class="col-md-4 col-form-label"><h5>Year</h5></label>
                                <label for="cvUniversity" class="col-md-4 col-form-label"><h5>University</h5></label>
                                <label for="cvSpeciality" class="col-md-4 col-form-label"><h5>Speciality</h5></label>
                            </div>

                            <div class="row mb-3" id="cvUtdanning_row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="cvYearEd">
                                </div>
                                <div class="col-md-4">
                                <input type="text" class="form-control" id="cvUniversity">
                            </div>
                                <div class="col-md-4">
                                <input type="text" class="form-control" id="cvSpeciality">
                            </div>
                            </div>

                            <hr class="break-cv"> 
                            <br>

                            <!----------------CV-Yrkeserfaring---------->

                            <div class="row mb-1">
                                <h3>Yrkeserfaring</h3>
                            </div>

                            <div id="wrk_head" class="row mb-3">
                                <label for="cvYearWork" class="col-md-4 col-form-label"><h5>Year</h5></label>
                                <label for="cvCompany" class="col-md-4 col-form-label"><h5>Company</h5></label>
                                <label for="cvTitle" class="col-md-4 col-form-label"><h5>Title</h5></label>
                            </div>

                            <!----------------CV-work-row-------------->

                            <div class="row mb-3" id="cvWork_row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="cvYearWork">
                                </div>
                                <div class="col-md-4">
                                <input type="text" class="form-control" id="cvCompany">
                            </div>
                                <div class="col-md-4">
                                <input type="text" class="form-control" id="cvTitle">
                            </div>
                            </div>
                            
                            <hr class="break-cv"> 
                            <br>

                            <!-----------------------------CV Kurs------------------->
                            <div class="row mb-1">
                                <h3>Kurs</h3>
                            </div>
                            <div id="kurs_head" class="row mb-3">
                                <label for="cvYearKurs" class="col-md-4 col-form-label"><h5>Year</h5></label>
                                <label for="cvPlace" class="col-md-4 col-form-label"><h5>Place</h5></label>
                                <label for="cvCourse" class="col-md-4 col-form-label"><h5>Course</h5></label>
                            </div>

                            <!----------------------------CV-kurs_row--------------->

                            <div class="row mb-3" id="cvKurs_row">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" id="cvYearKurs">
                                </div>
                                <div class="col-md-4">
                                <input type="text" class="form-control" id="cvPlace">
                            </div>
                                <div class="col-md-4">
                                <input type="text" class="form-control" id="cvCourse">
                                </div>
                            </div>

                            <hr class="break-cv"> 
                
            
                        <button class="download"> Download PDF </button>
                
                </form>
                <script src="static/main.js"></script>
            
            </td>

        </tr>
    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="/static/main.js"></script>
  </body>
</html>