<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/ixstyles.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>
      <!----------------------------------FORM----------------------->
      <table class="table">
        <tr>
            <td class="skjema">

                <div class="container-fluid" id="formValues">

                    <div class="container-top">
                        <form>
                            <!-- Navn, adresse, etc--> 
                            <div class="row mb-3">
                                <label for="navn" class="col-sm-2 col-form-label">Fullt navn:</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="navn" onkeyup="copyText(document.getElementById(this.id))"></div>
                        
                            </div>
                            <div class="row mb-3">
                                <label for="adresse" class="col-sm-2 col-form-label">Adresse:</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="adresse" onkeyup="copyText(document.getElementById(this.id))"> </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="mail" class="col-sm-2 col-form-label">Mail:</label>
                                <div class="col-sm-10">
                                <input type="email" class="form-control" id="mail" onkeyup="copyText(document.getElementById(this.id))"></div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="mobil" class="col-sm-2 col-form-label">Mobil: </label>
                                <div class="col-sm-2"> 
                                    <select class="form-select" aria-label="country" id="country">
                                        <option seleceted value="Norway">🇳🇴</option>
                                        <option value="Sweden">🇸🇪</option>
                                        <option value="Russia">🇷🇺</option>
                                    </select>
                                </div>
                                <div class="col-sm-8"><input type="text" maxlength="8" class="form-control" aria-label="mobil" id="mobil" onkeyup="copyText(document.getElementById(this.id))"></div>    
                            </div>

                            <div class="row mb-3">
                                <label for="sivilstand" class="col-sm-2 col-form-label">Sivilstand:</label>
                                <div class="col-sm-10"> 
                                    <select class="form-select" aria-label="sivilstand" id="sivilstand" onChange="copyText(document.getElementById('sivilstand'))">
                                        <option selected></option>
                                        <option value="Ugift">Ugift</option>
                                        <option value="Gift">Gift</option>
                                        <option value="Annet">Annet</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fodt" class="col-sm-2 col-form-label">Født:</label>
                                <div class="col-sm-10">
                                <input type="date" class="form-control" id="fodt" onclick="copyText(document.getElementById('fodt'))"></div>
                            </div>

                            <div class="centered_btn">
                                    <button type="submit" class="btn btn-primary" onClick="reset(document.getElementById('formValues'))">Reset</button>
                            </div>

                            <h3>Nøkkelkompetanse:</h3>
                            <div class="row mb-3">
                                <div class="col-12"> 
                                    <textarea class="form-control" id="kompetanse" onkeyup="copyText(document.getElementById(this.id))"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>

                    <!--Nøkkelkompetanse, utdannelse, etc -->
                    <div class="container-middle" id="kompetanseRows">
                        <form>                            
                            <hr class="break"> 

                            <div class="row mb-1">
                                <h3> Utdannelse</h3>
                            </div>

                            <!-------Utdannelse--------------->
                            <div id="utdanning_row0">
                                <div class="row mb-3">
                                    <label for="yearEd" class="col-md-6 col-form-label"><h5>Start dato</h5></label>
                                    <label for="yearEdEnd" class="col-md-6 col-form-label"><h5>Slutt dato</h5></label>
                                </div>

                                <div class="row mb-3" id="school0" onchange ="copyYear(document.getElementById(this.id).children[0].firstElementChild, document.getElementById(this.id).children[1].firstElementChild)">
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearEd0">
                                    </div>
                    
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearEdEnd0">
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <label for="university0" class="col-md-6 col-form-label"><h5>Studiested</h5></label>
                                    <label for="speciality0" class="col-md-6 col-form-label"><h5>Fag</h5></label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="university0" onkeyup="copyText(document.getElementById(this.id))">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="speciality0" onkeyup="copyText(document.getElementById(this.id))">
                                    </div>
                                </div>
                                <div class="centered_btn">
                                    <button type="button" class="btn btn-primary" id="addEd0" onclick="addLine(document.getElementById(this.parentNode.parentNode.id))">+</button>
                                    <button type="button" class="btn btn-primary" onclick="removeLine(document.getElementById(this.parentNode.parentNode.id))">-</button>
                                </div>
                                
                            </div>

                            

                            <hr class="break"> 

                            <!-------Yrkeserfaring----------->
                            <div class="row mb-1">
                                <h3>Yrkeserfaring</h3>
                            </div>

                            <!----------------work-row-------------->
                            <div id="work_row0">
                                <div id="workYear_head" class="row mb-3">
                                    <label for="yearWork" class="col-md-6 col-form-label"><h5>Start dato</h5></label>
                                    <label for="yearWorkEnd" class="col-md-6 col-form-label"><h5>Slutt dato</h5></label>
                                </div>

                                <div class="row mb-3" id="work0" onchange ="copyYear(document.getElementById(this.id).children[0].firstElementChild, document.getElementById(this.id).children[1].firstElementChild)">
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearWork0" >
                                    </div>
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearWorkEnd0">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="company" class="col-md-6 col-form-label"><h5>Selskap</h5></label>
                                    <label for="title" class="col-md-6 col-form-label"><h5>Stilling</h5></label>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="company0" onkeyup="copyText(document.getElementById(this.id))">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="title0" onkeyup="copyText(document.getElementById(this.id))">
                                    </div>
                                </div>
                                
                                <div class="centered_btn">
                                    <button type="button" class="btn btn-primary" id="addWork0" onclick="addLine(document.getElementById(this.parentNode.parentNode.id))">+</button>
                                    <button type="button" class="btn btn-primary" onclick="removeLine(document.getElementById(this.parentNode.parentNode.id))">-</button>
                                </div>

                            </div>
                            
                            <hr class="break">
                            
                            <!---------------Kurs----------------->

                            <div class="row mb-1">
                                <h3>Kurs</h3>
                            </div>
                            <!---------------Kurs-row------------>
                            <div id="kurs_row0">
                            
                                <div class="row mb-3">
                                    <label for="yearKurs" class="col-md-6 col-form-label"><h5>Start dato</h5></label>
                                    <label for="yearKursEnd" class="col-md-6 col-form-label"><h5>Slutt dato</h5></label>
                                </div>
                            <!---------------------Kurs year-------------->                  
                                <div class="row mb-3" id="kurs0" onchange ="copyYear(document.getElementById(this.id).children[0].firstElementChild, document.getElementById(this.id).children[1].firstElementChild)">
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearKurs0">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="month" class="form-control" id="yearKursEnd0">
                                    </div>
                                </div>

                                <div id="kurs_head" class="row mb-3">
                                    <label for="place0" class="col-md-6 col-form-label"><h5>Sted</h5></label>
                                    <label for="course0" class="col-md-6 col-form-label"><h5>Kurs</h5></label>
                                </div>
                            <!-------------------Kurs tekst------------------->
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="place0" onkeyup="copyText(document.getElementById(this.id))">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="course0" onkeyup="copyText(document.getElementById(this.id))">
                                    </div>
                                </div>
                                <div class="centered_btn">
                                    <button type="button" class="btn btn-primary" id="addKurs0" onclick="addLine(document.getElementById(this.parentNode.parentNode.id))">+</button>
                                    <button type="button" class="btn btn-primary" onclick="removeLine(document.getElementById(this.parentNode.parentNode.id))">-</button>
                                </div>   
                            </div>
            <!----------------------------Andre opplysinger------------------------->
                            <div class="row mb-1"> <h3>Andre opplysninger</h3> </div>
                            <div id="andre_row0">
                                
                                <!--------------Språk rad----------------->
                                <div class="row mb-3">
                                    <label for="sprak0" class="col-md-4 col-form-label"><h5>Språk</h5></label>
                                </div> 
                                <div id="sprak_row0">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="sprak0" onkeyup="copyText(document.getElementById(this.id))">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="sprakTxt0" onkeyup="copyText(document.getElementById(this.id))">
                                        </div>
                                    </div>
                                    <div class="centered_btn">
                                        <button type="button" class="btn btn-primary" id="addSprak0" onclick="addLine(document.getElementById(this.parentNode.parentNode.id))">+</button>
                                        <button type="button" class="btn btn-primary" onclick="removeLine(document.getElementById(this.parentNode.parentNode.id))">-</button>
                                    </div>   
                                </div>

                                <!----------------Sertifikat rad---------->

                                <div class="row mb-3">
                                    <label for="sertifikat0" class="col-md-4 col-form-label"><h5>Sertifikat</h5></label>    
                                </div>

                                <div id="sertifikat_row0">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="sertifikat0" onkeyup="copyText(document.getElementById(this.id))">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="sertifikatTxt0" onkeyup="copyText(document.getElementById(this.id))">
                                        </div>
                                    </div>

                                    <div class="centered_btn">
                                        <button type="button" class="btn btn-primary" id="addSertifikat0" onclick="addLine(document.getElementById(this.parentNode.parentNode.id))">+</button>
                                        <button type="button" class="btn btn-primary" onclick="removeLine(document.getElementById(this.parentNode.parentNode.id))">-</button>
                                    </div> 

                                </div>
                                <!----------------Interesser rad-------->
                                <div class="row mb-3">
                                    <label for="interesser0" class="col-md-4 col-form-label"><h5>Interesser</h5></label>
                                </div>
                                <div id="interesser_row0">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="interesser0" onkeyup="copyText(document.getElementById(this.id))">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="interesserTxt0" onkeyup="copyText(document.getElementById(this.id))">
                                        </div>
                                    </div> 
                                    
                                    <div class="centered_btn">
                                        <button type="button" class="btn btn-primary" id="addInteresser0" onclick="addLine(document.getElementById(this.parentNode.parentNode.id))">+</button>
                                        <button type="button" class="btn btn-primary" onclick="removeLine(document.getElementById(this.parentNode.parentNode.id))">-</button>
                                    </div> 

                                </div>
                            </div>
                        </form>
                    </div>    
                    

                </div>
            </td>

            <!----------------------------------------CV-------------------->

            <td class="cv">
                <h1 id="curri"> Curriculum vitae </h1>
                <!------------------------------CV Personalia----------------->
                <div class="container-topcv">                    
                    <table class="table table-borderless">
                        <tr>
                            <td class="sideskrift"> Navn: </td>
                            <td><div id="cvnavn"> </div></td>
                        </tr>
                        <tr>
                            <td class="sideskrift"> Adresse: </td>
                            <td><div id="cvadresse"> </div></td>
                        </tr>
                        <tr>
                            <td class="sideskrift"> Mailadresse: </td>
                            <td><div id="cvmail"> </div></td>
                        </tr>
                        <tr>
                            <td class="sideskrift"> Mobil: </td>
                            <td><div id="cvmobil"> </div></td>
                        </tr>
                        <tr>
                            <td class="sideskrift"> Sivilstand: </td>
                            <td><div id="cvsivilstand"> </div></td>
                        </tr>
                        <tr>
                            <td class="sideskrift"> Født: </td>
                            <td><div id="cvfodt"> </div></td>
                        </tr>
                    </table>
                </div>

                <hr class="break">
                <!----------------------CV Kompetanse--------------------->
                    <div class="row mb-3">
                        <div class="col-12" id="cvBox">                    
                            <h3 class="cvKompHead">Nøkkelkompetanse</h3>
                            <div id="cvkompetanse"></div>
                        </div>
                    </div>
                
                <!---------------------CV Utdannelse---------------------->

                    <h3> Utdannelse</h3>
                    <table class="table table-bordered border-dark">
                        <tr id="cvutdanning_row0" >
                            <td id="cvyearEd0" style="width:25%"></td>
                            <td id="cvuniversity0"></td>
                            <td id="cvspeciality0"></td>
                        </tr>   
                    </table>
                
                <!---------------------CV Erfaring---------------------->
                    
                    <h3> Arbeidserfaring</h3>
                    <table table class="table table-bordered border-dark">
                        <tr id="cvwork_row0">
                            <td id="cvyearWork0" style="width:25%"></td>
                            <td id="cvcompany0"></td>
                            <td id="cvtitle0"></td>
                        </tr>
                    </table>

                <!---------------------CV kurs---------------------->    

                    <h3> Kurs</h3>
                    <table class="table table-bordered border-dark">
                        <tr id="cvkurs_row0">
                            <td id="cvyearKurs0" style="width:25%"> </td>
                            <td id="cvplace0"></td>
                            <td id="cvcourse0"> </td>
                        </tr>
                    </table>

                    <hr class="break">
                <!---------------------CV Andre opplysninger---------------------->

                    <h3> Andre opplysninger</h3>
                    <table class="table table-bordered border-dark">
                        <tr id="cvsprak_row0" >
                            <th scope="col" class="andreHead"> Språk</th>
                            <td id="cvsprak0"></td>
                            <td id="cvsprakTxt0"></td>
                        </tr>   
                    </table>

                    <table class="table table-bordered border-dark">
                        <tr id="cvsertifikat_row0" >
                            <th scope="col" class="andreHead"> Sertifikat</th>
                            <td id="cvsertifikat0"></td>
                            <td id="cvsertifikatTxt0"></td>
                        </tr>   
                    </table>

                    <table class="table table-bordered border-dark">
                        <tr id="cvinteresser_row0" >
                            <th scope="col" class="andreHead"> Interesser</th>
                            <td id="cvinteresser0"></td>
                            <td id="cvinteresserTxt0"></td>
                        </tr>   
                    </table>
                    <hr class="break">

                    <table>
                        <tr>
                            <td><button class="download"> Last ned PDF </button></td>
                        </tr>
                    </table>
            
            </td>

        </tr>   
                
    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="/static/main.js"></script>
  </body>
</html>